<nav></nav>
<h4>Welcome {{ this.user.firstName }}.</h4>
<hr>
<div>
  <h4>Available surveys</h4>
  <table class="table table-hover">
    <tr>
      <th>Creator</th>
      <th>Title</th>
      <th>Description</th>
      <th>Expiration date</th>
    </tr>

      <tr *ngFor="let sur of this.surveyList" (click)="fillSurvey(sur.id)">
        <td>{{sur.creator}}</td>
        <td>{{sur.title}}</td>
        <td>{{sur.description}}</td>
        <td>{{sur.expirationDate}}</td>
      </tr>
  </table>
</div>
