<div>
  <nav></nav>
  <h4>User Panel</h4>

  <div *ngIf="userData.accountActivated === false"  class="alert alert-danger">
      <p class="text text-danger" style="padding-bottom: 5px">Your account is not activated! Enter activation code below.</p>
    <form [formGroup]="codeForm" (ngSubmit)="activateUser()" class="input-group" style="width: 200px">
      <input type="number" formControlName="code" class="form-control" maxlength="10" size="10" placeholder="Enter code" style="display: inline-block;">
      <span class="input-group-btn">
        <button class="btn btn-success " style="display: inline-block;" [disabled]="!codeForm.valid">Send</button>
      </span>
    </form>
    <small *ngIf="wrongCode">You have entered wrong code.</small>
  </div>
  <div>
    <p><strong>First Name: </strong>{{userData.firstName}}</p>
    <p><strong>Last Name: </strong>{{userData.lastName}}</p>
    <div>
      <p><strong>Email: </strong>{{userData.email}}
        <button [disabled]="!userData.accountActivated" (click)="change('email')" style="float: right" class="btn btn-default">Change email</button>
      </p>

      <div *ngIf="emailChange" style="padding-bottom: 50px">
        <form [formGroup]="newEmailForm">
          <div>
            <label>New email</label>
            <input type="email" email required formControlName="newEmail" class="form-control">
            <small *ngIf="!newEmailForm.controls.newEmail.valid">
              Valid email is required.
            </small>
          </div>
          <div>
            <label>Password</label>
            <input type="password" required formControlName="password" class="form-control">
            <small *ngIf="!newEmailForm.controls.password.valid">
              Password is required.
            </small>
          </div>
          <button type="submit" [disabled]="!newEmailForm.valid" (click)="changeEmail()" class="btn btn-success" style="float: right">Change</button>
        </form>
      </div>
    </div>
    <p><strong>Username: </strong>{{userData.username}}</p>
    <div>
      <p><strong>Password: </strong>********
        <button [disabled]="!userData.accountActivated" (click)="change('password')" style="float: right" class="btn btn-default">Change password</button>
      </p>

      <div *ngIf="passwordChange" style="padding-bottom: 50px">
        <form [formGroup]="newPasswordForm">
          <div>
            <label>Old password</label>
            <input type="password" formControlName="oldPassword" class="form-control">
            <small *ngIf="!newPasswordForm.controls.oldPassword.valid">
              Old password is required.
            </small>
          </div>
          <div>
            <label>Enter new password</label>
            <input type="password" formControlName="newPassword" class="form-control">
            <small *ngIf="!newPasswordForm.controls.newPassword.valid">
              New password is required (minimum 8 characters).
            </small>
          </div>
          <div>
            <label>Repeat new password</label>
            <input type="password" formControlName="newPasswordTwo" class="form-control">
          <small *ngIf="!newPasswordForm.valid">
            New passwords must match.
          </small>
      </div>
          <button type="submit" [disabled]="!newPasswordForm.valid" style="float: right" (click)="changePassword()" class="btn btn-success">Change</button>
        </form>
      </div>
    </div>
    <strong>User groups:</strong>
    <div class="container">
      <ul class="list-group">
        <li *ngFor="let group of userData.groupSet" class="list-group-item">{{group}}</li>
      </ul>
    </div>
  </div>
</div>
