
<h4>Login to Your Account</h4><br>
<div>
  <form (ngSubmit)="f.form.valid && logIn()" #f="ngForm" novalidate style="padding-left: 200px; padding-right: 200px">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Username</label>
          <input class="form-control" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
          <div *ngIf="f.submitted && !username.valid" class="warning">Username is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="warning">Password is required</div>
      </div>
      <div>
        <button class="btn btn-default">Login</button> <a routerLink="/register" style="float: right">Register now</a>
      </div>
      <div *ngIf="error">{{error}}</div>
  </form>
</div>
