<nav></nav>
<h4>Filled survey</h4>
<div>
  <div>
    <h4><strong>Title: </strong>{{this.survey.title}}</h4>
    <h4><strong>Creator: </strong>{{this.survey.creator}}</h4>
    <h5><strong>Description: </strong>{{this.survey.description}}</h5>
    <hr>
  </div>

  <div *ngFor="let question of survey.questions" style="padding:20px">
    <p>{{question.question}}</p>
    <div *ngIf="question.type === 'MULTI'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div *ngFor="let answer of question.answers">
        <div><label><mat-checkbox disabled [checked]="checked(question.id, answer.id)">{{answer.content}}</mat-checkbox></label></div>
      </div>
    </ng-template>
    <ng-template #elseBlock>
          <mat-radio-button *ngFor="let answer of question.answers" style="background-color: white" name="{{question.id}}" required="false" [checked]="checked(question.id, answer.id)" disabled class="form-control">
            {{answer.content}}
          </mat-radio-button>
    </ng-template>
  </div>
</div>
