<nav></nav>
<div>
  <h4>Filled surveys</h4>
  <table class="table table-hover">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Expiration date</th>
      <th>Filling time</th>
      <th></th>
    </tr>

    <tr *ngFor="let sur of this.surveyList" (click)="goToDetails(sur.id, sur.filledId)">
      <td>{{sur.title}}</td>
      <td>{{sur.description}}</td>
      <td>{{sur.expirationDate}}</td>
      <td>{{sur.fillingTime}}</td>
    </tr>
  </table>
</div>
