<h4>Register</h4><br>
<form [formGroup]="registerForm" style="padding-left: 200px; padding-right: 200px">
  <div>
    <label>Username</label>
    <input type="text" formControlName="username" class="form-control">
    <small *ngIf="!registerForm.controls.username.valid">
      Username is required.
    </small>
  </div>
  <div>
    <label>First name</label>
    <input type="text" formControlName="firstName" class="form-control">
    <small *ngIf="!registerForm.controls.firstName.valid">
      First name is required.
    </small>
  </div>
  <div>
    <label>Last name</label>
    <input type="text" formControlName="lastName" class="form-control">
    <small *ngIf="!registerForm.controls.lastName.valid">
      Last name is required.
    </small>
  </div>
  <div>
    <label>Email</label>
    <input type="email" email required formControlName="email" class="form-control">
    <small *ngIf="!registerForm.controls.email.valid">
      Valid email is required.
    </small>
  </div>
  <div>
    <label>Enter password</label>
    <input type="password" formControlName="passwordOne" class="form-control">
    <small *ngIf="!registerForm.controls.passwordOne.valid">
      Password is required (minimum 8 characters).
    </small>
  </div>
  <div>
    <label>Repeat password</label>
    <input type="password" formControlName="passwordTwo" class="form-control" (focus)="passwordFocus()">
    <small *ngIf="differentPasswords">
      Passwords must match.
    </small>
  </div>
  <div style="padding-top: 20px">
    <button type="submit" [disabled]="!registerForm.valid" (click)="register()" class="btn btn-success">Register</button> <a routerLink="/login" style="float: right">Back to login</a>
  </div>
</form>
