<button class="btn btn-default" (click)="navigate('home')">Home</button>
<button class="btn btn-default" (click)="navigate('create')">Create</button>
<button class="btn btn-default" (click)="navigate('created')">Your Surveys</button>
<button class="btn btn-default" (click)="navigate('filled')">Filled</button>
<button class="btn btn-default" (click)="navigate('panel')">User Panel</button>
<button class="btn btn-default" (click)="logOut()">Logout</button>

