<div [formGroup]="parentForm">
  <div formArrayName="answers">
    <answer *ngFor="let answer of answers; let i = index"
           [formArray]="parentForm.controls.answers"
           [answer]="answer"
           (removed)="removeAnswer(i)">
    </answer>
  </div>
  <div class="margin-20">
    <button class="btn btn-primary" (click)="addAnswer()">
      Add another answer +
    </button>
  </div>
</div>
