<div class="panel-body" style="background-color:#c8e6c9; padding-top: 20px">
  <div [formGroup]="answerGroup">
    <div class="form-group">
      <label>Answer {{index + 1}}  <span (click)="removed.emit()">X</span></label>
      <input type="text" class="form-control" formControlName="answer">
    </div>

  </div>
</div>
