<nav></nav>
<h4>Create survey</h4>
<form [formGroup]="surveyForm">

  <div>
    <label>Title</label>
    <input type="text" formControlName="name" class="form-control">
    <div hidden>
      <input type="number" formControlName="creatorId">
    </div>
    <div>
      <label>Group</label>
      <select name="group" required formControlName="group" class="form-control">
        <option *ngFor="let g of groups" [ngValue]="g">{{g}}</option>
      </select>
    </div>
    <div>
      <label>Date</label>
      <input type="date" name="date" required formControlName="date" class="form-control">
    </div>
    <div class="checkbox">
    <label><input type="checkbox" formControlName="anonymous">Is anonymous?</label>
  </div>
    <div class="checkbox">
      <label><input type="checkbox" formControlName="oneTime">Can be filled only once?</label>
    </div>
    <div>
      <label>Description</label>
      <textarea name="description" minRows="3" placeholder="Description" formControlName="description" class="form-control"></textarea>
    </div>
  </div>
<hr>
  <fieldset>
    <question-array [parentForm]="surveyForm" [questions]="data?.questions"></question-array>
  </fieldset>
<hr>
  <button type="submit" [disabled]="!surveyForm.valid" (click)="Submit()" class="btn btn-success">Submit</button>
</form>
