<div [formGroup]="parentForm" style="background-color:#e8f5e9;">
  <div formArrayName="questions" style="padding: 30px 30px 0px 30px">
    <question *ngFor="let question of questions; let i = index"
              [formArray]="parentForm.controls.questions"
              [question]="question"
              (removed)="removeAnswer(i)">
    </question>
  </div>
  <br>
  <div>
    <button class="btn btn-primary" (click)="addAnswer()">
      Add another question +
    </button>
  </div>
</div>
