<div>
  <div style="background-color:#e8f5e9;">
    <label>Question {{index + 1}}  <span *ngIf="formArray.length > 1" (click)="removed.emit()">X</span></label>
    <div [formGroup]="questionGroup">
      <div style="padding-bottom: 20px">
        <div>
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control">
        </div>

        <div>
          <label>Type</label>
          <select formControlName="type" class="form-control input-sm" (change)="onChange($event)">
            <option *ngFor="let type of questionTypes" [value]="type">{{type}}</option>
          </select>
        </div>
      </div>
      <fieldset>
        <answer-array [parentForm]="questionGroup" [answers]="question?.answers"></answer-array>
      </fieldset>
      <hr style="background-color: #DDDDDD;
    height: 1px;">
    </div>
  </div>
</div>
