<div [formGroup]="myForm">
  <p>{{this.answers.question}}</p>
  <div *ngFor="let data of answerList" class="checkbox">
    <label><mat-checkbox (change)="onChange(data.id, $event.checked)">{{data.content}}</mat-checkbox></label><br>
  </div>
</div>
