<nav></nav>

<div>
  <h3>{{this.data.title}}</h3>
  <h5>{{this.data.description}}</h5>
  <h4>{{this.data.creator}}</h4>
</div>
<hr>
<form [formGroup]="surveyForm">

  <div formArrayName="questions">
    <div *ngFor="let question of surveyForm.controls.questions.controls; let i=index">
      <fieldset>
        <div [formGroupName]="i" style="padding: 0px 30px 30px 30px">
          <survey-multi-question *ngIf="this.data.questions[i].type === 'MULTI'" required [group]="question" [answers]="this.data.questions[i]"></survey-multi-question>
          <survey-single-question *ngIf="this.data.questions[i].type === 'SINGLE'" required [group]="question" [answers]="this.data.questions[i]"></survey-single-question>
        </div>

      </fieldset>
    </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!surveyForm.valid" (click)="Submit()">Submit</button>
</form>

<pre>{{surveyForm.value | json}}</pre>

