<div [formGroup]="myForm">
  <p>{{this.answers.question}}</p>
  <div *ngFor="let data of answerList">
  </div>
  <mat-radio-group (change)="onChange($event)">
    <mat-radio-button *ngFor="let season of answerList" [value]="season.id" class="form-control">
      {{season.content}}
    </mat-radio-button><br>
  </mat-radio-group>
</div>
