<nav></nav>
<div>
  <h4>Created surveys</h4>
  <table class="table table-hover">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Expiration date</th>
    </tr>

      <tr *ngFor="let sur of this.surveyList" (click)="getSurveyStatistics(sur.id)">
        <td>{{sur.title}}</td>
        <td>{{sur.description}}</td>
        <td>{{sur.expirationDate}}</td>
      </tr>
  </table>
</div>
