<nav></nav>
<div>
  <div>
    <h4><strong>Survey title:</strong> {{survey.title}}</h4>
    <h4><strong>Survey description:</strong> {{survey.description}}</h4>
    <h4>Survey was filled <strong>{{survey.numberOfFilling}}</strong> {{times}}.</h4>
  </div>
  <hr>
  <div *ngFor="let stats of this.survey.questionSummaryList; let i=index">
    <div class="row" style="padding-left: 15px; padding-right: 15px">
      <h4>Question {{i+1}}: <br><strong>{{stats.question}}</strong></h4>
      <statistics-question [answers]="stats.answers" [userAnswers]="stats.usersAnswers"></statistics-question>
    </div>
  </div>
</div>


